@import "tailwindcss";

@theme {
  --color-background-dark: #0d1117;
  --color-background-light: #161b22;
  --color-text-primary: #f0f6fc;
  --color-text-secondary: #8b949e;
  --color-accent-blue: #58a6ff;
  --color-accent-purple: #a371f7;
}

body {
  background-color: #0d1117;
  color: #f0f6fc;
}

.bg-accent-blue {
  background-color: #58a6ff;
}
.text-white {
  color: #ffffff;
}
.hover\:bg-blue-400:hover {
  background-color: #3c93ef;
}
.border-text-secondary {
  border-color: #8b949e;
}
.hover\:bg-background-light:hover {
  background-color: #161b22;
}

.glass-card {
  background: rgba(22, 27, 34, 0.5); /* Semi-transparent background-light */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.1);
}